[worldserver]
###################################################################################################
#     SOLOCRAFT - DISABLED
###################################################################################################
# This module is DISABLED because it conflicts with mod-autobalance and our Progressive Systems.
# We use mod-autobalance instead, which is more flexible and integrates better with our
# difficulty scaling system.
#
# If you want to enable this, set Solocraft.Enable = 1, but be aware it will conflict with
# mod-autobalance and may cause double-scaling issues.

# Enable the module? (1: true | 0: false)
Solocraft.Enable = 0

# Announce the module when the player logs in?
Solocraft.Announce = 0

###################################################################################################
# General Settings (required even when disabled to prevent warnings)
###################################################################################################

Solocraft.Dungeon = 5
Solocraft.Dungeon.Level = 80
Solocraft.Heroic = 10
Solocraft.Raid25 = 25
Solocraft.Raid40 = 40
SoloCraft.Debuff.Enable = 1
Solocraft.XP.Enabled = 1
Solocraft.XPBal.Enabled = 1
Solocraft.Max.Level.Diff = 10
Solocraft.Instance.Excluded =
SoloCraft.Stats.Mult = 100
SoloCraft.Spellpower.Mult = 2.5

# Class-specific settings
SoloCraft.WARRIOR = 100
SoloCraft.PALADIN = 100
SoloCraft.HUNTER = 100
SoloCraft.ROGUE = 100
SoloCraft.PRIEST = 100
SoloCraft.DEATH_KNIGHT = 100
SoloCraft.SHAMAN = 100
SoloCraft.MAGE = 100
SoloCraft.WARLOCK = 100
SoloCraft.DRUID = 100

###################################################################################################
# Classic Dungeons
###################################################################################################

Solocraft.ShadowfangKeep = 5
Solocraft.ShadowfangKeep.Level = 15
Solocraft.Deadmines = 5
Solocraft.Deadmines.Level = 18
Solocraft.Stockades = 5
Solocraft.Stockades.Level = 22
Solocraft.WailingCaverns = 5
Solocraft.WailingCaverns.Level = 17
Solocraft.Blackfathom = 5
Solocraft.Blackfathom.Level = 20
Solocraft.GnomeragonInstance = 5
Solocraft.GnomeragonInstance.Level = 24
Solocraft.MonasteryInstances = 5
Solocraft.MonasteryInstances.Level = 35
Solocraft.RazorfenKraulInstance = 5
Solocraft.RazorfenKraulInstance.Level = 30
Solocraft.TanarisInstance = 5
Solocraft.TanarisInstance.Level = 44
Solocraft.RazorfenDowns = 5
Solocraft.RazorfenDowns.Level = 40
Solocraft.Mauradon = 5
Solocraft.Mauradon.Level = 48
Solocraft.SunkenTemple = 5
Solocraft.SunkenTemple.Level = 50
Solocraft.BlackrockDepths = 5
Solocraft.BlackrockDepths.Level = 50
Solocraft.DireMaul = 5
Solocraft.DireMaul.Level = 48
Solocraft.Stratholme = 5
Solocraft.Stratholme.Level = 55
Solocraft.SchoolofNecromancy = 5
Solocraft.SchoolofNecromancy.Level = 55
Solocraft.BlackRockSpire = 10
Solocraft.BlackRockSpire.Level = 55
Solocraft.Uldaman = 5
Solocraft.Uldaman.Level = 40
Solocraft.OrgrimmarInstance = 5
Solocraft.OrgrimmarInstance.Level = 15

###################################################################################################
# Classic Raids
###################################################################################################

Solocraft.MoltenCore = 40
Solocraft.MoltenCore.Level = 60
Solocraft.OnyxiaLairInstance = 40
Solocraft.OnyxiaLairInstance.Level = 60
Solocraft.BlackwingLair = 40
Solocraft.BlackwingLair.Level = 40
Solocraft.Zul'gurub = 20
Solocraft.AhnQiraj = 20
Solocraft.AhnQiraj.Level = 60
Solocraft.AhnQirajTemple = 40
Solocraft.AhnQirajTemple.Level = 60

###################################################################################################
# TBC Dungeons
###################################################################################################

Solocraft.HellfireRampart = 5
Solocraft.HellfireRampart.Level = 68
Solocraft.HellfireRampartH = 5
Solocraft.HellfireDemon = 5
Solocraft.HellfireDemon.Level = 68
Solocraft.HellfireDemonH = 5
Solocraft.HellfireMilitary = 5
Solocraft.HellfireMilitary.Level = 68
Solocraft.HellfireMilitaryH = 5
Solocraft.CoilfangPumping = 5
Solocraft.CoilfangPumping.Level = 68
Solocraft.CoilfangPumpingH = 5
Solocraft.CoilfangMarsh = 5
Solocraft.CoilfangMarsh.Level = 68
Solocraft.CoilfangMarshH = 5
Solocraft.CoilfangDraenei = 5
Solocraft.CoilfangDraenei.Level = 68
Solocraft.CoilfangDraeneiH = 5
Solocraft.AuchindounShadow = 5
Solocraft.AuchindounShadow.Level = 68
Solocraft.AuchindounShadowH = 5
Solocraft.AuchindounDemon = 5
Solocraft.AuchindounDemon.Level = 68
Solocraft.AuchindounDemonH = 5
Solocraft.AuchindounEthereal = 5
Solocraft.AuchindounEthereal.Level = 68
Solocraft.AuchindounEtherealH = 5
Solocraft.AuchindounDraenei = 5
Solocraft.AuchindounDraenei.Level = 68
Solocraft.AuchindounDraeneiH = 5
Solocraft.TempestKeepArcane = 5
Solocraft.TempestKeepArcane.Level = 68
Solocraft.TempestKeepArcaneH = 5
Solocraft.TempestKeepAtrium = 5
Solocraft.TempestKeepAtrium.Level = 68
Solocraft.TempestKeepAtriumH = 5
Solocraft.TempestKeepFactory = 5
Solocraft.TempestKeepFactory.Level = 68
Solocraft.TempestKeepFactoryH = 5
Solocraft.CavernsOfTime = 5
Solocraft.CavernsOfTime.Level = 68
Solocraft.CavernsOfTimeH = 5
Solocraft.HillsbradPast = 5
Solocraft.HillsbradPast.Level = 68
Solocraft.HillsbradPastH = 5
Solocraft.Sunwell5ManFix = 5
Solocraft.Sunwell5ManFix.Level = 68
Solocraft.Sunwell5ManFixH = 5

###################################################################################################
# TBC Raids
###################################################################################################

Solocraft.Karazahn = 10
Solocraft.Karazahn.Level = 68
Solocraft.GruulsLair = 25
Solocraft.GruulsLair.Level = 70
Solocraft.HyjalPast = 25
Solocraft.HyjalPast.Level = 70
Solocraft.TempestKeepRaid = 25
Solocraft.TempestKeepRaid.Level = 70
Solocraft.CoilfangRaid = 25
Solocraft.CoilfangRaid.Level = 70
Solocraft.HellfireRaid = 25
Solocraft.HellfireRaid.Level = 68
Solocraft.BlackTemple = 25
Solocraft.BlackTemple.Level = 70
Solocraft.SunwellPlateau = 25
Solocraft.SunwellPlateau.Level = 70
Solocraft.ZulAman = 5
Solocraft.ZulAman.Level = 68
Solocraft.ZulAmanH = 5

###################################################################################################
# WOTLK Dungeons
###################################################################################################

Solocraft.UtgardePinnacle = 5
Solocraft.UtgardePinnacle.Level = 78
Solocraft.UtgardePinnacleH = 5
Solocraft.Nexus70 = 5
Solocraft.Nexus70.Level = 78
Solocraft.Nexus70H = 5
Solocraft.Nexus80 = 5
Solocraft.Nexus80.Level = 78
Solocraft.Nexus80H = 5
Solocraft.Azjol_LowerCity = 5
Solocraft.Azjol_LowerCity.Level = 78
Solocraft.Azjol_LowerCityH = 5
Solocraft.Azjol_Uppercity = 5
Solocraft.Azjol_Uppercity.Level = 78
Solocraft.Azjol_UppercityH = 5
Solocraft.Ulduar70 = 5
Solocraft.Ulduar70.Level = 78
Solocraft.Ulduar70H = 5
Solocraft.Ulduar80 = 5
Solocraft.Ulduar80.Level = 78
Solocraft.Ulduar80H = 5
Solocraft.DrakTheronKeep = 5
Solocraft.DrakTheronKeep.Level = 78
Solocraft.DrakTheronKeepH = 5
Solocraft.Valgarde70 = 5
Solocraft.Valgarde70.Level = 78
Solocraft.Valgarde70H = 5
Solocraft.StratholmeCOT = 5
Solocraft.StratholmeCOT.Level = 78
Solocraft.StratholmeCOTH = 5
Solocraft.DalaranPrison = 5
Solocraft.DalaranPrison.Level = 78
Solocraft.DalaranPrisonH = 5
Solocraft.QuarryOfTears = 5
Solocraft.QuarryOfTears.Level = 78
Solocraft.QuarryOfTearsH = 5
Solocraft.GunDrak = 5
Solocraft.GunDrak.Level = 78
Solocraft.GunDrakH = 5
Solocraft.HallsOfReflection = 5
Solocraft.HallsOfReflection.Level = 78
Solocraft.HallsOfReflectionH = 5
Solocraft.IcecrownCitadel5Man = 5
Solocraft.IcecrownCitadel5Man.Level = 78
Solocraft.IcecrownCitadel5ManH = 5
Solocraft.ArgentTournamentDungeon = 5
Solocraft.ArgentTournamentDungeon.Level = 80
Solocraft.ArgentTournamentDungeonH = 5

###################################################################################################
# WOTLK Raids
###################################################################################################

Solocraft.NexusRaid = 10
Solocraft.NexusRaid.Level = 80
Solocraft.NexusRaidH = 25
Solocraft.UlduarRaid = 10
Solocraft.UlduarRaid.Level = 80
Solocraft.UlduarRaidH = 25
Solocraft.ChamberOfAspectsRed = 10
Solocraft.ChamberOfAspectsRed.Level = 80
Solocraft.ChamberOfAspectsRedH = 25
Solocraft.ChamberOfAspectsBlack = 10
Solocraft.ChamberOfAspectsBlack.Level = 80
Solocraft.ChamberOfAspectsBlackH = 25
Solocraft.IcecrownCitadel = 10
Solocraft.IcecrownCitadel.Level = 80
Solocraft.IcecrownCitadelH = 25
Solocraft.ArgentTournamentRaid = 10
Solocraft.ArgentTournamentRaid.Level = 80
Solocraft.ArgentTournamentRaidH = 25
Solocraft.ArgentTournamentRaidH10 = 10
Solocraft.ArgentTournamentRaidH25 = 25
Solocraft.StratholmeRaid = 10
Solocraft.StratholmeRaid.Level = 78
Solocraft.StratholmeRaidH = 25

###################################################################################################
# Additional Settings
###################################################################################################

Player.customXP.maxValue = 1
Player.customXP.security = 0
Player.customXP.showOnLogin = 0
PvPRank.HKPerRank = 10, 50, 100, 200, 450, 750, 1300, 2000, 3500, 6000, 9500, 15000, 21000, 30000
PvPRank.Rate.ExtraHonor = 1
ExternalMail = 0
ExternalMailInterval = 1
